<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aktivirajte račun</title>
    <link rel="stylesheet" href="../static/ActivateAccountEmailStyles.css">
</head>
<body>
    <h1>Pozdrav, <span th:text="${firstName}">[First Name]</span>!</h1>
    <p>Hvala Vam što ste se registrirali. Molimo vas unesite dobiveni kod na dani link kako bi aktivirali svoj račun</p>
    <a th:href="${verificationUrl}">Activate Account</a>
    <p>Vaš aktivacijski kod <span th:text="${activationCode}">[Verifikacijski kod]</span></p>
</body>
</html>