
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Prijava</title>
	</head>
	<body>
		<h1>Molimo vas prijavite se</h1>
		<div th:if="${param.error}">
            <p th:text="${param.error}"></p></div>
		<div th:if="${param.logout}">
			You have been logged out.</div>
		<form action="/api/auth/login" id ="loginForm">
			<div>
			<label for="email">Email</label>	
			<input type="text" name="email" placeholder="Email"/>
			</div>
			<div>
			<label for="password">Password</label>
			<input type="password" name="password" placeholder="Password"/>
			</div>
			<button type="button" onclick="submitForm()">Login</button>
		</form>
		<script>
            function submitForm() {
                const form = document.getElementById('loginForm');
                const formData = new FormData(form);
                const jsonData = {};
                formData.forEach((value, key) => {
                    jsonData[key] = value;
                });
    
                fetch('/api/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                })
                .then(response => response.json())
				.then(text => {
                console.log('Response Text:', text); // Log the response text
                try {
                    const data = JSON.parse(text); // Attempt to parse the text as JSON
                    console.log('Success:', data);
                } catch (error) {
                    console.error('Error parsing JSON:', error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
            }
        </script>
	</body>
</html>