<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activate Your Account</title>
    <link rel="stylesheet" href="../static/ActivateAccountStyles.css">
</head>
<body>
    <h1>Hello, <span th:text="${firstName}">[First Name]</span>!</h1>
    <p>Thank you for registering. Please click the link below to activate your account:</p>
    <a th:href="${verificationUrl}">Activate Account</a>
    <p>Your activation code is: <span th:text="${activationCode}">[Activation Code]</span></p>
</body>
</html>